<p-card header="Generate File">
  <div class="p-fluid">
    <div class="p-field mb-3">
      <label id="reportTypeLabel" class="form-label">Report Type</label>
      <p-selectButton
        id="reportTypeSelect"
        [options]="fileTypes"
        [(ngModel)]="selectedFileType"
        optionLabel="label"
        optionValue="value"
        [disabled]="isGenerating"
        class="report-type-selector"
        aria-labelledby="reportTypeLabel"
      ></p-selectButton>

      <div class="report-type-description mt-2">
        {{ getSelectedTypeDescription() }}
      </div>
    </div>

    <div class="p-field mt-3">
      <p-button
        label="Configure Report"
        icon="pi pi-cog"
        styleClass="w-full"
        [disabled]="isGenerating || !selectedFileType"
        (onClick)="openParametersDialog()"
      ></p-button>
    </div>
  </div>
</p-card>

<p-dialog
  [header]="getDialogHeader()"
  [(visible)]="showParametersDialog"
  [modal]="true"
  [style]="{width: '500px'}"
  [closeOnEscape]="true"
  [closable]="true"
  [draggable]="false"
>
  <ng-container [ngSwitch]="selectedFileType">
    <app-user-activity-report-form
      *ngSwitchCase="FileType.USER_ACTIVITY_REPORT"
      [isGenerating]="isGenerating"
      (generate)="onGenerate($event)"
      (cancel)="closeParametersDialog()"
    ></app-user-activity-report-form>

    <app-system-health-report-form
      *ngSwitchCase="FileType.SYSTEM_HEALTH_REPORT"
      [isGenerating]="isGenerating"
      (generate)="onGenerate($event)"
      (cancel)="closeParametersDialog()"
    ></app-system-health-report-form>

    <app-file-statistics-report-form
      *ngSwitchCase="FileType.FILE_STATISTICS_REPORT"
      [isGenerating]="isGenerating"
      (generate)="onGenerate($event)"
      (cancel)="closeParametersDialog()"
    ></app-file-statistics-report-form>

    <app-custom-report-form
      *ngSwitchCase="FileType.CUSTOM_REPORT"
      [isGenerating]="isGenerating"
      (generate)="onGenerate($event)"
      (cancel)="closeParametersDialog()"
    ></app-custom-report-form>
  </ng-container>
</p-dialog>
